@import "../common.css";

body::-webkit-scrollbar {
    display: none;
}

#main-wrapper {
    /*border: 1px solid #fff;*/
    display: flex;
    height: 600px;
    color: white;
}

/* 좌측 메뉴 영역 */
#my-page-sidebar {
    width: 20%;
    font-size: 18px;
    line-height: 2.2em;
    border-right: 1px solid #FFFFFF;
    /*border: 1px solid #fff;*/
}

#my-page-menu-list {
    margin-top: 30px;
}

/* 각 페이지에서는 해당 페이지 메뉴에 fw700 default 먹이기 */
.my-page-menu:hover {
    font-weight: 700;
    cursor: pointer;
}

/* 우측 콘텐츠 영역 */
#my-page-content {
    width: 80%;
    /*border: 1px solid #fff;*/
    position: relative;
    border-left: 1px solid #FFFFFF;
}

/* 우측영역 작은 wrapper */
#myinfo-wrapper {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#profile-box {
    width: 20%;
    margin-right: 80px;
}

.myinfo-title {
    margin-bottom: 15px;
}

#profile-frame {
    width: 100%;
    overflow: hidden;
    border: 1px solid #fff;
    height: 220px;
}
#main-profile-image {
    width: 200px;
    cursor: pointer;
}

#add-profile {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

/* 프로필사진 제외 영역 */
#my-info-box {
    width: 70%;
}

#my-user-info {
    display: flex;
    /*border: 1px solid #fff;*/
}

/* 박스 타이틀 */
.myinfo-title {
    font-size: 20px;
    width: 100%;
}

/* 닉네임, 생년월일, 롤계정 인풋 영역 */
.my-info{
    /*border: 1px solid #fff;*/
    width: 230px;
    margin-right: 50px;
    position: relative;
}

.my-info span {
    display: block;
    width: 100px;
}

.my-info-data {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.my-registered-info {
    color: #FFFFFF;
    width: 150px;
    height: 25px;
    outline: none;
    background: #111E30;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.my-registered-info:focus {
    background: #6C7C93;
}

/* sns 영역 */
.sns-image {
    width: 25px;
    margin-right: 10px;
}

.my-info-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
}

.my-info-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}


