@import "../common.css";

.pwdsearch-marign{
  margin: 0 auto;
  width: 50%;

}
/* 스타일링을 위한 CSS */
/* #main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 442px;
  height: 365px;
  left: 33px;
  top: 41px;
} */

.inner-header {
  /* display: none;  */
  margin: 0 auto;
  width: 497px;
  height: 665px;
  left: 703px;
  top: 208px;
  
  background: #FFFFFF;
  border-radius: 10px;
}

h2 {

  margin: 0 auto;
  padding-top: 100px;
  width: 389px;
  height:86px;
  left: 55px;
  top: 55px;
  
  /* font-family: 'Inter';
  font-style: italic; */
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  
  color: #000000;
}

p {
  margin: 0 auto;
  margin-top: 100px;
  width: 414px;
  height: 19px;
  left: 44px;
  top: 152px;
/* 
  font-family: 'Inter';
  font-style: italic; */
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;

  color: #000000;


}

h3 {
  margin: 0 auto;
  margin-top: 100px;
  margin-right: 330px;
  width: 142px;
  height: 22px;
  left: 44px;
  top: 275px;

  /* font-family: 'Inter';
  font-style: italic; */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;


}

.email-text {
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 10px;
  width: 418px;
  height: 44px;
  left: 44px;
  top: 318px;
  outline: none;
  background: #F2F2F2;
  border: none;
  border-radius: 5px;
  
}

.email-text:focus{
  border: 2px solid black; /* 포커스된 입력창에 파란색 테두리 추가 */
  background: #FFFFFF; /* 포커스된 입력창 배경색 변경 */
}

/* .email-text:hover{
  background-color: #CCCCCC;
  color: #FFFFFF;
} */

.email-send {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 40px;
  width: 418px;
  height: 73px;
  left: 44px;
  top: 415px;
  font-size: 40px;
  color: #FFFFFF;
  background: #1EA1F7;
}
/* #1781c8   #1EA1F7 */
.email-send:hover{
   background-color:#1781c8 ;
 
}
.login-back {
  margin: 0 auto;
  margin-top: 80px;

  height: 34px;
  left: 174px;
  top: 517px;


  /* font-style: italic; */
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: #1EA1F7;


}
.login-back:hover{

  color: #1781c8;
}