@import url("common.css");

#main-wrapper{
    border:  1px solid #ffffff;
    width: 100%;
    height: 1200px;

}

#main-wrapper .container{
border: 3px solid #000;
width: 100%;
height: 100%;
display: flex;
}


#main-wrapper .container .left_container{
 border: 3px solid #fc0000;
 height: 80%;
 width: 20%;

}

#main-wrapper .container .left_container .best_writer{
 border: 1px solid #fbff00;
 width: 100%;
 height: 43%;
 border-radius: 5%;

}

#main-wrapper .container .left_container .best_writer #best_writer{
border: 1px solid #000;
width: 100%;
height: 15%;
margin-top: 5%;

display: flex;

justify-content: center;align-items: center;

}


#main-wrapper .container .left_container .best_writer #best_writer .grade_img{
border: solid #000;

width: 20%;
height: 80%;

}

#main-wrapper .container .left_container .best_writer #best_writer .grade_img img{
width: 100%;
height: auto;

}

#main-wrapper .container .left_container .best_writer #best_writer #bestwriter{
    border: solid #000;
    
    width: 50%;
    height: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }


#main-wrapper .container .left_container .banner{
  border: 1px solid #ffaa00;
  width: 100%;
  height: 55%;
  margin-top: 10%;
}

#main-wrapper .container .left_container .best_writer #best_writer_user{
 width: 100%;
 height: 85%;
 border: 3px solid #37ff00;
 display: flex;
 justify-content: center;
 align-items: center;
}

#main-wrapper .container .left_container .best_writer #best_writer_user .writer_member{
border: 1px solid #eb0707;
height: 80%;
width: 70%;


}

#main-wrapper .container .left_container .best_writer #best_writer_user .writer_member .duo_member{
border: 1px solid #000;
width: 100%;
height: 10%;
display: flex;
}

#main-wrapper .container .left_container .best_writer #best_writer_user .writer_member .duo_member .img_controll{
border: 1px solid #ffffff;
    width: 25px;
height: 25px;
}

#main-wrapper .container .left_container .best_writer #best_writer_user .writer_member .duo_member .img_controll img{
width: 100%;
height: 100%;
}

#main-wrapper .container .left_container .best_writer #best_writer_user .writer_member .duo_member li{
    border: 1px solid #000;
    width: 70%;
    height: 100%;
    display: flex;align-items: center;
    margin-left: 10px;
}

#main-wrapper .container .right_container{
    border: 1px solid #000;
    height: 80%;
    width: 75%;
    margin-left: 5%;
    border-radius: 5%;
    padding: 2%;

}

#main-wrapper .container .right_container h1{
    border: 1px solid #ffffff;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

#main-wrapper .container .right_container .board_info{
    border: 1px solid #000;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;

}

#main-wrapper .container .right_container .board_info .category{


}

#main-wrapper .container .right_container input{
    margin-top: 5%;
    width: 100%;
    height: 3%;  
}
