@import "common.css";

body::-webkit-scrollbar {
    display: none;
}

#main-wrapper {
    /*border: 1px solid #fff;*/
    display: flex;
}

/* 좌측 메뉴 영역 */
#my-page-sidebar {
    color: white;
    height: 600px;
    width: 20%;
    font-size: 18px;
    line-height: 2.2em;
    border-right: 1px solid #FFFFFF;
    /*border: 1px solid #fff;*/
}

#my-page-menu-list {
    margin-top: 30px;
}

/* 각 페이지에서는 해당 페이지 메뉴에 fw700 default 먹이기 */
.my-page-menu:hover {
    font-weight: 700;
    cursor: pointer;
}

#mypage-calendar {
    font-weight: 700;
}

/* 우측 콘텐츠 영역 */
#my-page-content {
    color: white;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

/* 작은 래퍼 */
#calendar-wrapper {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

/* 달력 영역*/
#attendance-calendar {
    /*border: 1px solid #fff;*/
    margin-top: 50px;
    width: 350px;
}

#calendar-title {
    display: flex;
    font-size: 30px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

/* 출석하기 버튼 */
#add-attendance {
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 2px solid #52F759;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#add-attendance-image {
    width: 40px;
    padding-right: 10px;
    padding-left: 2px;
}

/* 요일 영역 */
#days-box {
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    width: fit-content;
}

/* 요일 및 날짜 */
.my-calendar {
    font-size: 20px;
    width: 50px;
    text-align: center;
    padding: 15px 0 10px;
}

#dates {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}

#dates .date {
    position: relative;
}

/* 지난 날짜 회색 표시 */
#dates .prev-date {
    color: #8F8F8F;
}

#dates .date .attend-image {
    display: none;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 날짜에 attended 클래스 추가시 출석 도장 이미지 출력 */
#dates .date .attended {
    display: block;
}

/* 스탬프 영역 */
#stamp-status {
    /*border: 1px solid #fff;*/
    padding: 20px;
    width: 350px;
    font-size: 18px;
}

#my-current-stamp {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    width: fit-content;
    margin: 0 auto;
}

#my-current-stamp span {
    color: #52F759;
    font-weight: 700;
}

#my-current-stamp-image {
    width: 15px;
}

#stamp-type-box {
    font-size: 15px;
    border: 2px solid #52F759;
    border-radius: 15px;
    padding: 30px;
}

.stamp-type {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

#stamp-type-box .stamp-type:last-child {
    margin-bottom: 0;
}

.stamp-type span {
    color: #52F759;
    font-weight: 700;
    padding: 0 5px;
}

.get-point {
    border: 2px solid #fff;
    width: 90px;
    padding: 10px;
    border-radius: 50px;
    background: #017906;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.gotten {
    border: 2px solid #fff;
    width: 90px;
    padding: 10px;
    border-radius: 50px;
    background: none;
    color: #52F759;
    display: flex;
    justify-content: center;
}

