#main-wrapper {
    width: 900px;
    padding-top: 80px;

    color: #fff;
}

/* sign-up header style */

header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    border-bottom: 2px solid #fff;
}

header h1 img{
    width: 100px;
}

header h2 {
    margin-bottom: 10px;

    font-size: 1.5em;
}

/* sign-up wrapper style */
#sign-up-wrapper {
    display: flex;
}

/* profile image section style */
#profile-img-section {
    display: flex;
    align-items: center;
}

#main-profile-img-wrapper img {

}